header {
  background: linear-gradient(to right, #007bff, #dceeff); /* Gradiente azul */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

header .navbar-brand span {
  font-size: 1.5rem; /* Tamanho da fonte do nome */
  font-weight: bold;
}

header .btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.carousel-item img {
    width: 100%; /* Ajusta para a largura total do contêiner */
    height: auto; /* Mantém a proporção original */
    object-fit: cover; /* Ajusta o conteúdo para preencher o espaço */
}

.carousel-item img {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente */
}



/* Seção Serviços */
.servicos {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
}

.servicos-titulo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #003366;
  margin-bottom: 20px;
}

.servicos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.servico-item {
  background-color: #f5f7ff;
  border-radius: 10px;
  padding: 15px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.servico-item:hover {
  transform: translateY(-5px);
}

.servico-item img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.servico-item p {
  font-size: 1rem;
  font-weight: bold;
  color: #003366;
}
